@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.about {
    &__avatarBlock {
        width: 300px;
        height: 390px;

        @include mobile-l {
            width: 250px;
            height: 270px;
        }

        @include mobile-m {
            height: 210px;
        }
    }

    &__avatar {
        z-index: 2;
        transition: all 0.75s ease-in-out;
        opacity: 1;

        &.isFading {
            transition: all 0.75s ease-in-out;
            opacity: 0;
        }
    }

    &__avatarCaption {
        font-size: 12px;
    }

    &__textBlock {
        font-size: 14px;

        p:not(:last-child) {
            margin-bottom: 30px;
        }

        @include tablet {
            height: 40vh;
        }

        @include mobile-l {
            height: 35vh;
        }

        @include mobile-m {
            height: 32vh;
            font-size: 13px;
        }
    }
}