@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.footer {
  bottom: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(rgba($dark-purple, 0.15), rgba($dark-blue, 1));

  @include desktop-s {
    height: 180px;
  }

  @include tablet {
    height: 130px;
  }

  @include mobile-l {
    height: 110px;
  }

  &__links {
    font-size: 12px;

    @include mobile-l {
      font-size: 10px;
    }
  }

  &__copyright {
    font-size: 10px;
    font-style: italic;
  }

  &__logoWrapper {
    margin-left: 2px;
  }

  &__logo {
    height: 20px;
    border: 1px solid $white;
  }
}
