@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.works {
    &__wrapper {
        padding: 100px 0;

        @include tablet {
            padding: 70px 0;
        }

        @include mobile-l {
            padding: 50px 0;
        }
    }

    &__container {
        width: 400px;
        height: 400px;
        margin: 10px;
        padding: 20px 30px;
        background-color: $purple2;
        border-radius: 30px;
        font-size: 14px;
        transition: all 0.5s ease-in-out;

        &:hover {
            background-color: $purple;
            transition: all 0.5s ease-in-out;
        }

        @include tablet {
            height: 430px;

            &:first-child {
                margin-top: 0;
            }
        }

        @include mobile-l {
            height: 400px;
            padding: 20px;
            font-size: 13px;
        }

        @include mobile-m {
            height: 420px;
        }
    }

    &__logo {
        position: relative;
        width: 70px;
        height: 70px;

        @include mobile-l {
            width: 50px;
            height: 50px;
        }
    }

    &__description {
        font-size: 14px;

        @include mobile-l {
            font-size: 12px;
        }
    }

    &__tech {
        border: 1px solid $white;
        border-radius: 20px;
        font-size: 12px;

        @include mobile-l {
            font-size: 10px;
        }
    }

    &__link {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
            width: 30%;
            height: 2px;
            background-color: $white;
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            &::after {
                width: 70%;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}