@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.typing {
  &__shared {
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid transparent;

    &.loadingText {
      @include typingAnimation(3.75s, 40, 0s, infinite, null, null, 0.25s);
      --target-width: 100%;
    }

    &.titleText {
      @include typingAnimation(2.5s, 35, 1s, 6, 2.5s, 2.5s, 0s);
      --target-width: 135px;
    }

    &.subtitleText {
      @include typingAnimation(2.5s, 35, 1s, 6, 2.5s, 2.5s, 2.5s);
      --target-width: 200px;
    }

    &.listeningText {
      @include typingAnimation(2.5s, 35, 1s, 6, 2.75s, 1.45s, 5s);
      --target-width: 315px;
    }

    &.headphonesText {
      @include typingAnimation(2.5s, 35, 1s, infinite, null, null, 7.5s);
      --target-width: 257px;
    }
  }
}