@import "../../utils/variables.scss";

.logo {
    left: 0;
}

.menu {
    font-family: 'Menlo';
    font-weight: bold;
    font-size: 16px;
    color: $white;

    &__button {
        margin: 0 50px;
    }
}