@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.menu {
  font-family: "Menlo";
  font-weight: bold;
  font-size: 18px;
  color: $white;

  @include tablet {
    font-size: 16px;
  }

  @include mobile-l {
    font-size: 15px;
  }

  &__button {
    position: relative;
    margin: 0 50px;

    @include mobile-l {
      margin: 0 20px;
    }

    &::after {
      position: absolute;
      content: "";
      left: 50%;
      transform: translateX(-50%);
      bottom: -2px;
      width: 0%;
      height: 2px;
      background-color: $white;
      transition: all 0.5s ease-in-out;
    }

    &:hover::after,
    &.isActive::after {
      width: 100%;
    }
  }
}