@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.main {
  background: linear-gradient($pink 22%, $purple 64%, $blue 100%);
  z-index: 2;

  &.isDoneLoading {
    transition: opacity 1.75s ease-in-out;
    opacity: 0;
  }
}

.textWrapper {
  z-index: 2;
  padding-bottom: 160px;

  @include mobile-m {
    padding-bottom: 80px;
  }

  &__title {
    font-family: "Allura";
    font-size: 70px;
    line-height: 70px;
  
    @include tablet {
      font-size: 60px;
      line-height: 65px;
    }
  
    @include mobile-l {
      font-size: 45px;
      line-height: 50px;
    }
  
    @include mobile-m {
      font-size: 40px;
      line-height: 45px;
    }
  }

  &__separator {
    width: 100px;
    height: 2px;
    background-color: $white;
  
    @include mobile-l {
      width: 45px;
    }
  }

  &__subtitle {
    font-family: "Menlo";
    font-size: 25px;
    line-height: 28px;
  
    @include mobile-l {
      font-size: 15px;
      line-height: 20px;
    }
  }
}