@import "../../utils/variables.scss";

.logoWrapper {
  width: 40px;
  height: 40px;

  &:hover {
    .square {
      &__top {
        transform: translateX(100%);
        transition-delay: 0s;
      }

      &__right {
        transform: translateY(100%);
        transition-delay: 0.5s;
      }

      &__bottom {
        transform: translateX(-100%);
        transition-delay: 1s;
      }

      &__left {
        transform: translateY(-100%);
        transition-delay: 1.5s;
      }
    }
  }
}

.logo {
  height: 40px;
}

.square {
  position: absolute;
  display: block;
  background-color: $white;

  &__top,
  &__right,
  &__bottom,
  &__left {
    transition: all 0.5s ease-in-out;
  }

  &__top,
  &__bottom {
    width: 40px;
    height: 2px;
  }

  &__right,
  &__left {
    width: 2px;
    height: 40px;
  }

  &__top {
    top: 0;
    transition-delay: 1.5s;
  }

  &__right {
    top: 0;
    right: 0px;
    transition-delay: 1s;
  }

  &__bottom {
    bottom: 0;
    transition-delay: 0.5s;
  }

  &__left {
    left: 0;
    top: 0;
  }
}
