@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.playmusic {
    &__headphones {
        width: 53px;
        height: 53px;
        border-radius: 22px;
        right: 23.5vw;
        top: 38.5vh;
        cursor: pointer;

        @include desktop-m {
            right: 21vw;
        }
 
        @include desktop-s {
            right: 22vw;
            top: 40vh;
        }
        
        @media (width: 768px) and (height: 1024px) { // specific for ipad mini portrait
            right: 3vw;
            top: 41vh;
            width: 55px;
            height: 55px;
            border-radius: 21px;
        }
        
        @media (width: 820px) and (height: 1180px) { // specific for ipad air portrait
            right: 18vw;
            top: 41.5vh;
        }

        @media (width: 1024px) and (height: 768px) { // specific for ipad mini landscape
            right: 23.5vw;
            top: 41vh;
            width: 40px;
            height: 40px;
            border-radius: 17px;
        }

        @media (width: 1024px) and (height: 1366px) { // specific for ipad pro portrait
            right: 19vw;
            top: 41.5vh;
            width: 60px;
            height: 60px;
            border-radius: 24px;
        }

        @media (width: 1180px) and (height: 820px) { // specific for ipad air landscape
            right: 23.5vw;
            top: 40.5vh;
            width: 43px;
            height: 43px;
            border-radius: 18px;
        }

        @media (width: 1366px) and (height: 1024px) { // specific for ipad pro landscape
            top: 41.5vh;
            width: 46px;
            height: 46px;
            border-radius: 19px;
        }

        @include tablet {
            right: 18vw;
        }

        @include mobile-l {
            right: 12.5vw;
            top: 41.5vh;
            width: 40px;
            height: 40px;
            border-radius: 15px;
        }

        @include mobile-m {
            width: 38px;
            height: 38px;
            border-radius: 14px;
        }

        @include mobile-s {
            right: 13.5vw;
            top: 40.5vh;
            width: 33px;
            height: 33px;
            border-radius: 13px;
        }
    }
}