// Colors
$black: #000000;
$white: #FFFFFF;
$pink: #FD4FF6;
$purple: #533DBC;
$blue: #1F1B65;
$dark-purple: #251F67;
$dark-blue: #161F59;

// Screens
$large-desktop-width: 1440px;
$medium-desktop-width: 1280px;
$small-desktop-width: 1024px;
$tablet-width: 767px;
$mobile-width: 480px;
$medium-mobile-width: 380px;
$small-mobile-width: 320px;